<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WBViewDrag.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>576481A91D45B0720038B284</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>576481C21D45B0730038B284</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>576481CD1D45B0730038B284</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
